/* Global CSS rules */
body {
  width: 100%;
}

.material-icons,
.material-icons-outlined {
  font-size: 35px;
  cursor: pointer;
  color: #5f6368;
}

.main {
  padding: 30px;
  position: relative;
}

h1,
h2,
h3 {
  margin: 0;
}

/* Navbar CSS Rules */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid #e0e0e0;
  height: 85px;
  padding: 20px;
  box-sizing: border-box;
}

.brand-logo {
  width: 74px;
  height: 24px;
}

.brand-text {
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
  font-color: #ababab;
  font-size: 1.38125rem;
}

.navbar-brand {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
}

.navbar-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
}

.big-img {
  font-size: 45px;
}

/* Secondary Header CSS Rules */
.secondary-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.secondary-icon-container {
  margin-right: 15px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: default;
}

.secondary-icon-container:hover {
  background-color: #f4f4f8;
}

.secondary-icon-text {
  display: inline-block;
  margin-left: 10px;
  color: #1a73e8;
  font-weight: 500;
}

/* Card Section */
.card-section {
  margin-top: 15px;
  display: grid;
  grid-column-gap: 30px 30px;
  justify-content: flex-start;
}

.card {
  border: 0.0625rem solid #dadce0;
  height: 21.355rem;
  width: 20rem;
  margin-right: 33px;
  margin-bottom: 20px;
  text-align: left;
  border-radius: 13px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 25px;
  color: #fff;
  cursor: default;
}

.card-header {
  position: relative;
  padding: 15px;
  height: 30%;
  background: url("https://www.gstatic.com/classroom/themes/img_bookclub.jpg")
    no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 13px 13px 0 0;
}

.card-body {
  height: 45%;
}

.card-footer {
  border-top: 0.0625rem solid #dadce0;
  height: 25%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.subject-name {
  font-size: 20px;
  line-height: 1.75rem;
}

.section {
  font-size: 15px;
  margin: 3px 0 3px 0;
}

.teacher-name {
  font-size: 15px;
}

.material-icons.teacher-icon {
  font-size: 58px;
  position: absolute;
  border-radius: 100%;
  background-color: #bfbfbf;
  background-size: contain;
  color: #717171;
  bottom: -30px;
  right: 30px;
}

.assignment-icon,
.folder-icon {
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 15px;
}

.help-icon {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card-section {
    grid-template-columns: auto;
  }

  .add-icon {
    position: absolute;
  }
  
  .apps-icon,
  .account-icon {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card-section {
    grid-template-columns: auto;
  }
  
  .apps-icon,
  .account-icon {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card-section {
    grid-template-columns: auto auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card-section {
    grid-template-columns: auto auto auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-section {
    grid-template-columns: auto auto auto auto auto;
  }
}

@media only screen and (max-width: 700px) {
  material-icons.apps-icon,
  material-icons.account-icon {
    display: none;
  }

  .navbar {
    height: 80px;
  }

  .navbar-menu {
    justify-content: flex-end;
  }

  .secondary-icon-container {
    width: 24px;
    height: 24px;
    margin-right: 35px;
    padding: 0;
  }

  .secondary-icon-text {
    display: none;
  }

  .brand-logo {
    margin-left: 15px;
    margin-right: 5px;
  }

  .main {
    padding: 20px;
  }

  .card {
    height: 21.355rem;
    width: 19rem;
    margin-right: 0px;
  }
}

